{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": "off",
        "linebreak-style": "off",
        "prefer-const": "warn",
        "require-jsdoc": "off",
        "no-trailing-spaces": "off"
    },
    "extends": ["eslint:recommended", "google"]
}