@import "variables";
@import "mixins";
@import "button";

.header {
    height: $header-height;
    padding: 8px 300px 8px 300px;
    display: flex;
    justify-content: space-between;

    &__title-input {
        padding: 12px 13px;
        color: #000;
        border: 1px solid transparent;
        border-radius: 3px;
        height: 20px;
        font-size: 18px;
        line-height: 22px;
        outline: none;
        transition: .1s ease-in-out all;
        &:hover {
            border: 1px solid $border-color;
        }

        &:focus {
            border: 2px solid #1a73e8;
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        @include setActiveBtnColor(green);
    }
}