@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "~normalize.css";

@import "header";
@import "toolbar";
@import "formula";
@import "table";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.excel {
    position: relative;

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    &__toolbar {
        position: absolute;
        left: 0;
        right: 0;
        top: $header-height;
    }
}